# Functions

In [3]:
import numpy as np
np.add(10,12)

22

In [4]:
a = 10
b = 12
print(a+b)

22

In [5]:
# Set of predefined behaviour

In [6]:
def add(a,b):
    return a + b

In [8]:
add(100,12)

112

In [9]:
a = [1,2,1,2,2,3,4]

In [10]:
a.insert('python')

TypeError: insert() takes exactly 2 arguments (1 given)

**Optional arguments , mandatory arguments**

e.g making a tea

In [11]:
add(10)

TypeError: add() missing 1 required positional argument: 'b'

**Arguments = conditions / requirments**


**parameters = values that are supplies to the Args**

In [12]:
a.insert(3,'python')

In [13]:
a

[1, 2, 1, 'python', 2, 2, 3, 4]

In [14]:
a.insert(index=3,object='python')

TypeError: insert() takes no keyword arguments

In [15]:
a.pop(index=2)
a # ITs not a keyword argument --> optional argument coz index is -1 by default

TypeError: pop() takes no keyword arguments

In [16]:
print(a,'pythonn',end=" , ") # It is a keyword argument

[1, 2, 1, 'python', 2, 2, 3, 4] pythonn ,

In [17]:
help(list.insert) # here we dont have default value so its mandatory arguments

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [18]:
help(list.pop) #here we  have default value so its optional arguments

Help on method_descriptor:

pop(self, index=-1, /)
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [19]:
print(a)
print("python")

[1, 2, 1, 'python', 2, 2, 3, 4]
python

In [20]:
print(a,end=" | ") # Keyword argument
print("python")

[1, 2, 1, 'python', 2, 2, 3, 4] | python

In [21]:
def welcome():
    return "Welcome to python programming"

In [22]:
welcome()

'Welcome to python programming'

In [24]:
def welcome(name):
    return f"Welcome to python programming {name}!"

In [25]:
welcome("Ashish")

'Welcome to python programming Ashish!'

In [28]:
def welcome(name,age="Not disclosed"): # optional arguments
    return f"Welcome to python programming {name} at the age of {age}!"

In [27]:
welcome('Ashish')

'Welcome to python programming Ashish at the age of Not disclosed!'

In [29]:
welcome('ashish',19)

'Welcome to python programming ashish at the age of 19!'

In [33]:
def welcome(name,age): # madatory arguments
    return f"Welcome to python programming {name} at the age of {age}!"

In [32]:
welcome('ashish',12)

'Welcome to python programming ashish at the age of 12!'

In [109]:
def welcome(): 
    name = input('pls enter your name: ')
    age = input('please enter the age: ')
    return f"Welcome to python programming {name} at the age of {age}!"

In [37]:
welcome()

pls enter your name: ashish
please enter the age: 33

'Welcome to python programming ashish at the age of 33!'

In [110]:
def welcome():
    '''
    this is a function helpful in returing 
    greeting msg to the end user based on. the name and age
    '''
    name = input('pls enter your name: ')
    age = input('please enter the age: ')
    return f"Welcome to python programming {name} at the age of {age}!"

In [39]:
welcome()

pls enter your name: python
please enter the age: 28

'Welcome to python programming python at the age of 28!'

In [42]:
print(welcome.__doc__) # It will show documentation

    this is a function helpful in returing
    greeting msg to the end user based on. the name and age

In [56]:
def welcome(*names):
    
    for name in names:
        return f"Welcome to python programming {name}"

In [52]:
def welcome(*args):
    
    for names in args:
        print(f"Welcome to python programming {names}")

In [53]:
welcome('ashish','shivam','anubhav','names')

Welcome to python programming ashish
Welcome to python programming shivam
Welcome to python programming anubhav
Welcome to python programming names

In [54]:
def welcome(*args):
    
    for names in args:
        print(names,end=" , ")

In [55]:
welcome('ashish','shivam','anubhav','names')

ashish , shivam , anubhav , names ,

In [111]:
def welcome(*args):
    print(f'the name is {"args[1]""}')

SyntaxError: f-string: unterminated string (<ipython-input-111-745906d355b8>, line 2)

In [66]:
welcome('ashish','shivam','anubhav','names')

NameError: name 'agrs' is not defined

In [64]:
# Return suppress none and only return last line .... opposite in case of print

In [67]:
def welcome(*args):
    
    for names in args:
        print(names,end=" , ")

In [69]:
import string 
import random
students = [string.ascii_uppercase[i] for i in range (10)]
students

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [72]:
def welcome(name):
    return  f"Welcome to python programming {name}!"

In [73]:
print(welcome(students[0]))
print(welcome(students[1]))
print(welcome(students[2]))
print(welcome(students[3]))

Welcome to python programming A!
Welcome to python programming B!
Welcome to python programming C!
Welcome to python programming D!

In [78]:
def welcome(*args):
    
    for names in args:
        print( f"Welcome to python programming {names}!",end=" , ")

In [81]:
for i in students:
    print(welcome(i))

Welcome to python programming A! , None
Welcome to python programming B! , None
Welcome to python programming C! , None
Welcome to python programming D! , None
Welcome to python programming E! , None
Welcome to python programming F! , None
Welcome to python programming G! , None
Welcome to python programming H! , None
Welcome to python programming I! , None
Welcome to python programming J! , None

In [82]:
# print always in for loop , return only return only 1 value so if we want multiple so we use print

In [88]:
def greeting(name,loud=True): # keyword argument
    if loud:
        return f"{name.upper()} is present"
    else:
        return f'{name.lower()} is present'

In [89]:
greeting('ashish',True)

'ASHISH is present'

In [90]:
greeting('ashish')

'ASHISH is present'

In [92]:
greeting('Ashish',False)

'ashish is present'

In [94]:
def Evaluation(**kwargs): # multiple keyword argument
    if loud:
        return f"{name.upper()} is present"
    else:
        return f'{name.lower()} is present'

In [103]:
def Evaluation(**marks): # multiple keyword argument
    return f'Marks scored in physics is {marks["Physics"]} and in chem {marks["chemistrry"]} and in math {marks["maTHS"]}'

In [104]:
Evaluation(Physics=35,chemistrry=43,maTHS=82)

'Marks scored in physics is 35 and in chem 43 and in math 82'

In [105]:
def welcome(**batsmen):
    return f'First batsmane has scored {batsmen["First"]} , second batsman {batsmen["Second"]} and third batsman {batsmen["Third"]} '

In [107]:
welcome(First=25,Second=32,Third=43)

'First batsmane has scored 25 , second batsman 32 and third batsman 43 '

In [108]:
welcome(First=25,Second=32,Third=43,fourth=42)

'First batsmane has scored 25 , second batsman 32 and third batsman 43 '

# Lambda

Anonymus function only perform one-time operation

In [113]:
lambda x,y: x + y  # lambda is a object

In [114]:
add = lambda x,y: x + y

In [115]:
add(100,11)

111

In [117]:
add = lambda x,y,z: x + y * z

In [119]:
add(12,10,1) # it will always give one value

22

In [121]:
(lambda x: x*x)(10) # Other way of lambda

100

In [122]:
(lambda x,y,z: x+y*z)(12,10,1)

22

order of operations = PEMDAS
power
expo
multi
division
add
subtract

# Map , Filter and reduce

In [123]:
a = [random.randint(10,24) for i in range(10)]
a

[22, 10, 21, 15, 20, 23, 24, 13, 21, 18]

In [125]:
a % 2 == 0 # mutiple values then u can not apply single logic

TypeError: unsupported operand type(s) for %: 'list' and 'int'

In [126]:
for i in a:
    if i%2==0:
        print(i,end=' , ')

22 , 10 , 20 , 24 , 18 ,

In [127]:
oddnums = map(lambda x: x%2 == 0,a) # apply logic to every values

In [130]:
list(oddnums)

[True, True, False, False, True, False, True, False, False, True]

In [133]:
square = list(map(lambda x: x*x,a))

In [134]:
square

[484, 100, 441, 225, 400, 529, 576, 169, 441, 324]

In [136]:
evennums = filter(lambda x: x%2 == 0,a) # filter only values that fulfil the condition
list(evennums)

[22, 10, 20, 24, 18]

In [137]:
divide = filter(lambda x: x%6 == 0,a)
list(divide)

[24, 18]

In [138]:
a = ['python','java','r','scala']

In [139]:
pl = filter(lambda x: len(x)>4,a)
list(pl)

['python', 'scala']

In [140]:
pl = map(lambda x: len(x)>4,a)
list(pl)

[True, False, False, True]

In [142]:
marks = [random.randint(35,100) for i in range(10)]
students = [string.ascii_uppercase[i] for i in range(10)]

In [143]:
d = {}
for i,j in zip(students,marks):
    d[i] = j

In [144]:
d

{'A': 55,
 'B': 35,
 'C': 69,
 'D': 69,
 'E': 56,
 'F': 63,
 'G': 99,
 'H': 46,
 'I': 52,
 'J': 38}